.nav {
  background-color: #1a1a1a;
  color: #fff;
  padding: 15px 3%;
  border-bottom: 1px solid rgba(64, 64, 64, 0.8);
  background: transparent;
  backdrop-filter: blur(5rem);
  position: sticky;
  top: 0;
  z-index: 50;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container img {
  height: 40px;
  width: 40px;
}

.container span {
  font-size: 18px;
  font-weight: bold;
}

.list-container {
  display: flex;
  gap: 25px;
}
.list-container :hover {
  color: rgb(109, 109, 182);
}

.list-container li {
  list-style-type: none;
  cursor: pointer;
  /* color: #ffffff; */
  font-size: 16px;
}

.mobile-list-container {
  display: none;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 30px;
  list-style: none;
}

.mobile-list-container li {
  font-size: 16px;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.mobile-btn-container {
  display: none;
  gap: 10px;
}

.ham {
  display: none;
}

@media only screen and (max-width: 992px) {
  .list-container {
    display: none;
  }

  .btn-container {
    display: none;
  }

  .mobile-btn-container {
    display: flex;
  }

  .mobile-list-container {
    display: flex;
  }

  .ham {
    display: block;
  }
}
